@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-400";
  src: url("./font/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF-500";
  src: url("./font/SF-Pro-Text-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SF-600";
  src: url("./font/SF-Pro-Text-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "SF-700";
  src: url("./font/SF-Pro-Text-Bold.otf") format("opentype");
}

:root {
  padding: 40px;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
